header{
    padding: 5px 0;
    background-color: #666;
    font-family: cursive,serif;
}
footer{
    background-color: #666;
    padding:5px 0px;
    width:100%;
    position: absolute;
    bottom: 0px;
}
body{
    margin: 0px;
}
canvas{
    border: solid black 2px;
}
.text-white{
    color:#FFF;
}
.pe-2{
    padding-right: 2px;
}
.sns-link :hover{
    color: #3e88c9;
}
.ta-center{
    text-align: center;
}
.a-center{
    width: 1000px;
    margin: 10px auto;
};