header{
    padding: 5px 0;
    background-color: #666;
}
footer{
    background-color: #666;
    padding:5px 0px;
    width:100%;
    position: absolute;
    bottom: 0px;
}
canvas{
    border: 10px solid;
    border-color: #666;
}
.sns-link :hover{
    color: #7194b8;
}
.text-white{
    color:#FFF;
}
.pe-2{
    padding-right: 2px;
}
.ta-center{
    text-align: center;
}
.a-center{
    width:800px;
    margin: 10px auto;
};